# Email Config
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=your_email@gmail.com
SENDER_PASSWORD=your_app_password
RECEIVER_EMAIL=your_email@gmail.com

# Bot Config
CHECK_INTERVAL_SECONDS=10
# Format Target Baru: KODE_MATKUL:KELAS_TARGET (Contoh: 142240283:EA-C)
TARGET_COURSES=142240283:EA-C, 142240283:EA-B
